<% include header %>

<h1><a href="/"><< back to</a> TheNewsExpert</h1>
<h3>Personal site of Sophie Lemmens</h3>

<h2><span>Resource not found</span> :</h2>

<section>
<p>I am sorry but there is no great news today</p>
</section>

<% include footer %>
