<nav>

<ul>
    <li <% if (pagename === "nieuws") { %> class="current" <% } %> > <a href="nieuws">Nieuws</a></li>
    <li <% if (pagename === "binnenland") { %> class="current" <% } %> > <a href="binnenland">Binnenland</a></li>
    <li <% if (pagename === "buitenland") { %> class="current" <% } %> > <a href="buitenland">Buitenland</a></li>
    <li <% if (pagename === "sport") { %> class="current" <% } %> > <a href="sport">Sport</a></li>
    <li <% if (pagename === "verkeer") { %> class="current" <% } %> > <a href="verkeer">Verkeer</a></li>
  </ul>
</nav>
